/*
css - cascading style sheets 
css prop to style html markup
inline . internal . external
*/
body{
    background-color: black;
}
h1{
    color: white;
}
p{
    color: white;
}
/*id selector*/
#p1{
    color : red;
}
#p2{
    color:orange;
}
#p3{
    color : yellow;
}
#p4{
    color : green;
}
/* class selector*/
.odd{
    color : blue;
}
.even{
    color : brown;
}